<h1>HomePage#home</h1>
<%= link_to products_path, class: 'h-10 w-18 p-2 border inline-flex text-white rounded my-auto' do %>
      <span class="font-sans text-sm text-black inline"> See All </span>
<% end %>
